body{ padding:0;  background: #fffef4;  margin:0;font-family:'Microsoft YaHei','微软雅黑','黑体','SimHei';color: #767676;}
ul li{padding:0; margin:0; list-style:none;}
a{text-decoration:none; color:  #767676;}
img{border:none;}
*{margin:0;padding: 0;}
a:hover{
        color: #b0916a;
        text-decoration: none;  
}
.mr_auto{
    margin: 0 auto;
}

.banner-big{
    background: url(../activity-img/banner.png) center;
    z-index: 1;
    height: 656px;
    overflow: hidden;
    animation-delay: 200ms;
}

.banner-box{
  width: 1200px;
  height: 536px;
  margin: 0 auto;
  

}
.center{
    text-align: center;
}
.center img{
    margin-top: 50px;
}
.sec-quan{
    position: relative;
  
}
.slide-up{
    width: 459px;
    margin-top: -60px;
 
}

.sec-main {
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 50px;
    position: relative;
}
.sec-top-img{
    width: 1200px;
    margin: auto;
    text-align:center;
}
.sec-top-img img{
 width: 231px;
 margin: 50px auto;
}
.flex{
    width: 1200px;
    height: 1950px;
    margin: 0 auto;   
}
.flex>div{
    width: 100%;
    height: 480px;
   /* background: pink;  */
   position: relative;
   
}
.cake_price{
    position: absolute;
    width: 392px;
    height: 290px;
    color: #e0a941;
    top: 87px;
    left: 266px;
}
.w-100{
    width: 100%;
}
.cake_price>h2{
    margin:13px  0;
}
.cake_price>ul>li{
    float: left;
    width: 45px;height: 45px;
    border-radius: 50%;
    background:#f0c46f;
    color: white;
    text-align: center;
   font-size: 12px;
}
.cake_price>ul>li>span{
    display: block;
    margin-top: 12px;
}
.cake_price>ul>li+li{
    margin-left: 10px;
}
.active{
    background: #e0a941 !important;
}
.this-ul{
    height: 45px;
}
.icon{
    padding:0px 12px;
    border: #e0a941 2px solid;
    border-radius:50%;
    margin-right: 5px;
}
.icone{
    width:100%;
    font-size: 18px;
    margin: 10px 0;
    position: relative;
}
.icon-bg{
    width: 81px;height: 72px;
    position: absolute;
    top:-20px;
    left: 290px;
    z-index: 1;
    display: block;
    background-image: url(../activity-img/xiaoduo.png);
}
.btn-by{
    margin-top: 20px;
 padding: 7px 28px;
 border-radius: 15px;
 outline: 0;
 border: 0;
 background: #e0a941;
 color: #fff;
}
.btn-by:hover{
    background:#f0c46f ;
}
.cake-1{
    position: absolute;
    top: 20px;
    left: 570px;
    z-index: 2;
}
.price2{
   color: #9d6d4e;
   position: absolute;
   top: 80px;
    left: 628px;

}
.cake_price>.price2-bg>li{
    background: #ca9776;
}
.price2-bg>.active{
    background: #9d6d4e !important;
}
.price2>.icone>.icon{
    border:2px solid #9d6d4e;
}
.btn-by-two{
    margin-top: 20px;
 padding: 7px 28px;
 border-radius: 15px;
 outline: 0;
 border: 0;
 background: #9d6d4e;
 color: #fff;
}
.btn-by-two:hover{
    background:#ca9776;
}
.cake-2{
    position: absolute;
    top: 20px;
    left: 125px;
}
.cake-3{
    position: absolute;
    top: 20px;
    left: 531px;
}
.p3{
    position: absolute;
    top: 87px;
    left: 246px;
}
.fengye1{
    position: absolute;
    top: -200px;
    left: 350px;
}
.fengye2{
    position: absolute;
    top: 1260px;
    left: 200px;
}
.huodong{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.evt-rules{
    width: 1040px;
    margin: 0 auto;
    padding: 100px 0 100px 55px;
    color: #002;
}
.evt-rules h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 5px;
}
.evt-rules p {
    font-size: 18px;
    line-height: 1.8em;
    padding-left: 1.5em;
    text-indent: -1.5em;
}
.footer-2{
background: #f8eed1;
}
.foot1{
    position: absolute;
    top: 0;
    left: -300px;
}
.foot2{
    position: absolute;
    top: 0;
   right: -300px;
}