
body{ padding:0; margin:0;font-family:'Microsoft YaHei','微软雅黑','黑体','SimHei';color: #767676;}
ul,li,h1,input{padding:0; margin:0; list-style:none;}
a{text-decoration:none; color: #767676;}
.banner-bg{
    background:url(../banner-img/login-bg.jpg) no-repeat;
    margin: 0 auto;
    min-height: 500px;
    height: 700px;
    background-size: 100%;
  }  
 .reg{
     width: 960px;
     height: 580px;
     background: #fff;
     text-align: center;
     margin: 50px auto 0px;
     border-radius: 8px;
     
 }
 .reg-box{ 
  border-right: #dddddd 1px solid;
   padding: 1px 90px 0px 88px;
   width: 560px;
   height:100%;
   min-height: 500px;
   float: left;
 

 }
 
 .reg-box>ul>li>input{
    width: 405px;
    height: 40px;
    border:0;
    border-bottom :#cdcdcd 1px solid;
    font-size: 17px;
    outline: none;
    box-sizing: border-box;
    padding-left: 10px;
    
 }
.reg-box>ul>li>a{
    float: right;
    text-decoration:none;

}
.reg-box>ul>li>button{
  position: relative;

  top: -20px;
    width: 402px;
    height: 48px;
}
.reg-box>ul>li{
    width: 402px;
    height: 45px;
    margin-top:20px;
    position: relative;
  }
.reg-box>ul>li>span{
    position: absolute;
    top: 13px;
    right: 5px;
    color: #767676;
   }


#man , #woman{
  width: 18px;
  height: 18px;
}
#xieyi{
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-left: -216px;
}



/* 其他登录方式？ */
.others-login{
  width: 400px;
  height: 500px;
  float: left;
  color: #767676;
  text-align: center;
  font-size: 13px;
 }
 .others-login>h5{
     margin-top:100px;
     margin-bottom:80px; 
 }
.zfb{
 background-image: url(../moneypic/icon-zfb.png); 
}
.wb{
  background-image: url(../moneypic/icon-wb-on.png);
}
.zfb,.wb{
  display: inline-block;
  margin: 0 15px;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
.have-id{
  margin-top: 4rem;
}
#reger{
  display: block;
  background: #b0916a;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
  width: 90px;
  line-height: 30px;
  margin: 20px auto;
  outline: none;
  border:0;
  transition: 1s;
}
#reger:hover{
  background: #756551;
}


/* footer部分 */
/* link footer.css */
